@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 20rem;
}

:root {
    --blue: #2d00f7ff;
    --electric-indigo: #6a00f4ff;
    --violet: #8900f2ff;
    --veronica: #a100f2ff;
    --veronica-2: #b100e8ff;
    --electric-purple: #bc00ddff;
    --steel-pink: #d100d1ff;
    --steel-pink-2: #db00b6ff;
    --hollywood-cerise: #e500a4ff;
    --magenta: #f20089ff;
    --bg--color: #111
}

body {
    background-color: #010208;
}

.custom-scrollbar {
    /* scrollbar-width: thin; */
    /* scrollbar-color: #3b82f6 #f1f1f1; */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    /* background: transparent; */
    background: #f1f1f1;
    border-radius: 4px;
}

.card {
    background: linear-gradient(90deg, var(--magenta), var(--blue));
}